<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tech Space</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Poppins.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Cards.css">
    <link rel="stylesheet" href="assets/css/simple-sticky-footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: url(&quot;assets/img/Tech%20Space.jpeg&quot;) top left / cover no-repeat;font-family: Poppins;">
    <div class="container mb-5" style="background: rgba(15,14,14, 0.6);border-radius: 20px;">
        <nav class="navbar navbar-dark navbar-expand-md fw-bold">
            <div class="container"><a class="navbar-brand" href="#" style="font-size: 35px;">TECH SPACE</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-3"><a class="nav-link active" href="#" style="font-size: 30px;">Users</a></li>
                        <li class="nav-item"><a class="nav-link mx-3" href="#" style="font-size: 30px;">Spaces</a></li>
                        <li class="nav-item"><a class="nav-link ms-3" href="#" style="font-size: 30px;">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container py-5 text-light mt-5" style="background: rgba(15,14,14, 0.6);border-radius: 20px;font-size: 25px;margin-top: 15rem!important;">
        <h1>Tech Space</h1>
        <p>Welcome to Tech Space. Your All in One (AIO) hub for all your coding needs. Sign up with us and get to find spaces near you for you and your team.</p><button class="btn link-light border-white" type="button">Sign Up</button>
    </div>
    <footer class="footer" style="background: transparent;">
        <div class="container text-light" style="background: rgba(15,14,14, 0.6);border-radius: 20px;"><span class="text-light">Copyright (c) 2022 Tech Space</span><span class="float-end">Contact Us</span></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>