{{#partial "content"}}

    <div class="container py-5 text-light mt-5" style="background: rgba(15,14,14, 0.6);border-radius: 20px;font-size: 25px;margin-top: 15rem!important;" id="animatedRegisterBar">

        <h1>Tech Space</h1>
        <p>Welcome to Tech Space. Your All in One (AIO) hub for all your coding needs. Sign up with us and get to find spaces near you for you and your team.</p><button class="btn link-light border-white" type="button"><a class="link-light" href="/join" style="text-decoration: none;">Find Space</a></button>
    </div>
    {{/partial}}

{{> layout.hbs}}