<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tech Space</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Poppins.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Cards.css">
    <link rel="stylesheet" href="assets/css/simple-sticky-footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/animations.css">
</head>

<body style="background: url(&quot;assets/img/Tech%20Space.jpeg&quot;) top left / cover no-repeat;">
    <div class="container mb-5" style="background: rgba(15,14,14, 0.6);border-radius: 20px;">
        <nav class="navbar navbar-dark navbar-expand-md fw-bold">
            <div class="container"><a class="navbar-brand" href="#" style="font-size: 35px;">TECH SPACE</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-3"><a class="nav-link" href="#" style="font-size: 30px;">Users</a></li>
                        <li class="nav-item"><a class="nav-link mx-3" href="#" style="font-size: 30px;">Spaces</a></li>
                        <li class="nav-item"><a class="nav-link active ms-3" href="#" style="font-size: 30px;">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4" id="animatedSignUpSection">
                    <div class="card mb-5" style="background: rgba(15,14,14, 0.6);border-radius: 2em">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center text-light mb-4">Find Space</h2>
                            <form method="post" action="/add">
                              <div class="mb-3"><input class="form-control" type="text" id="name-2" name="username" placeholder="Username" style="color: rgb(33, 37, 41);"></div>
                                <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div>
                                <div class="mb-3">                <select name="animalSpotted" class="form-select" aria-label="Default select example">
                    									<option selected>Select Location</option>
                    									<option  value="Lion">Kiambu</option>
                    									<option  value="Giraffe">Naivasha</option>
                    									<option  value="Zebra">Kisumu</option>
                </select></div>

                                <div class="mb-3"></div>
                                <div><button class="btn link-light border-light d-block w-100" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" style="background: transparent;">
        <div class="container text-light" style="background: rgba(15,14,14, 0.6);border-radius: 20px;"><span class="text-light">Copyright (c) 2022 Tech Space</span><span class="float-end">Contact Us</span></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>